<div id="nav-bar">
    <div id="nav-bar-content">
        <div id="nav-bar-left">
            <!-- <div id="icon"><img src="favicon.ico"></div> -->
            <div (click)="onHomeClick()" style="font-size: 1.5em;" class="nav-bar-items">GTKMon</div>
        </div>
        <div id="nav-bar-right">
            <button mat-button (click)="toggleDarkMode()">
                <mat-icon>{{ isDarkMode ? 'brightness_7' : 'brightness_2' }}</mat-icon>
            </button>
            <div (click)="onLoginClick()" class="nav-bar-items">Login</div>
            <!-- <div class="nav-bar-items">
                Hi,
            </div>
            <div>Logout</div> -->
        </div>
    </div>
</div>

<router-outlet></router-outlet>