/* Personalizando o título com uma fonte específica */
.title-font {
    font-family: 'PokemonFont', sans-serif; /* Fonte personalizada para o título */
    color: #f3ba34; /* Amarelo para o título */
    text-shadow: -2px -2px 1px #3466af, 2px -2px 1px #3466af, -2px 2px 1px #3466af,
      2px 2px 1px #3466af, 0px -3px 1px #3466af, 0px 3px 1px #3466af,
      -3px 0px 1px #3466af, 3px 0px 1px #3466af;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Personalizando os inputs com outra fonte */
.input-font {
    font-family: 'Fruktur', cursive; /* Outra fonte para o campo de entrada */
}

/* Estilos gerais para a página */
.list-page {
    min-height: 100vh;
    padding: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem de linha quando necessário */
    gap: 20px; /* Espaçamento entre os cards */
    justify-content: flex-start; /* Alinha os cards à esquerda, mas você pode usar 'space-between' para espalhá-los */
}

/* Estilos do título */
h2 {
    margin-right: 1em;
    margin-bottom: 1.5rem;
    text-align: center;
}

.title-form{
    font-family: 'PokemonFont', sans-serif; /* Fonte personalizada para o título */
    color: #f3ba34; /* Amarelo para o título */
    text-shadow: -2px -2px 1px #3466af, 2px -2px 1px #3466af, -2px 2px 1px #3466af,
      2px 2px 1px #3466af, 0px -3px 1px #3466af, 0px 3px 1px #3466af,
      -3px 0px 1px #3466af, 3px 0px 1px #3466af;
}

.user-info p {
    font-family: 'Fruktur', cursive; /* Fonte personalizada para as entradas */
    text-transform: capitalize; /* Força a primeira letra a ser maiúscula */
}
/* Personalização dos cards dos usuários */
.user-card {
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.575);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 500px; /* Define a largura máxima do cartão */
    flex: 1 1 30%; /* Ajusta para ocupar 30% da largura da linha, o que dá 3 por linha */
    margin: 10px; /* Espaço entre os cards */
}

/* Media query para telas médias (tela até 768px) */
@media (max-width: 768px) {
    .user-card {
        flex: 1 1 45%; /* Para telas médias, dois cards por linha */
    }
}

/* Media query para telas pequenas (tela até 480px) */
@media (max-width: 480px) {
    .user-card {
        flex: 1 1 100%; /* Para telas pequenas, os cards ocupam toda a largura */
    }
}

/* Estilo do seletor de role */
.role-select {
    width: 150px; /* Reduzi a largura do seletor para 150px */
    font-size: 0.9rem; /* Diminui o tamanho da fonte */
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 6px 10px; /* Ajuste no padding para reduzir o tamanho */
    border-radius: 5px;
}

/* Estilo do botão de atualização */
.update-btn {
    background-color: #f97316;
    border: none;
    transition: background-color 0.3s ease;
    padding: 8px 15px; /* Reduzido o padding para diminuir o tamanho do botão */
    font-size: 0.9rem; /* Diminui o tamanho da fonte para se ajustar melhor ao espaço */
    border-radius: 5px;
    max-width: 300px; /* Força o botão a ter no máximo 300px de largura */
    width: 100%; /* Faz o botão se ajustar à largura do seu contêiner */
    align-items: center;
}

.update-btn:hover {
    background-color: #ea580c;
}

.action-buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}
