<div class="login-container">
    <video autoplay muted loop class="bg-video">
        <source src="assets/mimikyu.mp4" type="video/mp4">
      </video> 
    <div id="authenticator">
        <img src="assets/logo.png" alt="logo" class="logo">
        <div class="card authenticator-content">
            <div class="card-header text-center">
                <h5 class="card-title">{{getStateText()}}</h5>
            </div>
            <div class="card-body">
                <div *ngIf="isLoginState()">
                    <input #loginEmail class="form-control" placeholder="Email"/>
                    <input #loginPassword class="form-control" placeholder="Password" type="password">
                    <button class="btn btn-primary w-100 mt-3" (click)="onLogin(loginEmail, loginPassword)">Login</button>
                </div>
                <div *ngIf="isRegisterState()">
                    <input #registerEmail class="form-control" placeholder="Email">
                    <input #registerPassword class="form-control" placeholder="Password" type="password">
                    <input #registerConfirmPassword class="form-control" placeholder="Confirm Password" type="password">
                    <button class="btn btn-primary w-100 mt-3"
                        (click)="onRegisterClick(registerEmail, registerPassword, registerConfirmPassword)">
                        Create
                    </button>   
                </div>
                <div *ngIf="isForgotPasswordState()">  
                    <input #resetEmail class="form-control" placeholder="Email">
                    <button class="btn btn-primary w-100 mt-3" (click)="onResetClick(resetEmail)">Reset</button>
                </div>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-link" (click)="onForgotPasswordClick()">Forgot Password</button>
                <button class="btn btn-link" (click)="onCreateAccountClick()">Create an Account</button>
                <button class="btn btn-link" (click)="onLoginClick()">Login</button>
            </div>
        </div>
        <div class="google-login-container">
            <button class="login-button" (click)="loginGoogle()">Login with Google</button>
        </div>
    </div>
</div>
