/* Container Principal */
.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("src/assets/login.png") center/cover no-repeat;
}

/* Container do Formulário */
#authenticator {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Card com transparência e blur */
.authenticator-content {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* Ajuste do layout dos botões */
.btn-primary {
    background-color: #c9a040;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #a07e33;
}

/* Botões de link */
.btn-link {
    color: #f3ba34;
    font-weight: bold;
}

.btn-link:hover {
    color: #a07e33;
    text-decoration: none;
}

/* Botão de Login com Google */
.google-login-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.login-button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #c9a040;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    width: 250px;
}

.login-button:hover {
    background-color: #a07e33;
    transform: scale(1.05);
}

/* Estilo da logo */
.logo {
    width: 300px;
    margin-bottom: 20px;
}

.form-control {
    margin-top: 10px;
}

.card-title {
    color: #c9a040;
    font-weight: bold;
}

.card-header {
    padding: 3%;
}